.custom-button {
    padding: 10px 20px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin: 5px;
    outline: none;
    transition: background-color 0.3s;

    &:hover {
        background-color: lightgray;
    }
}
